* {
    margin: 0px;
    padding: 0px;
}

#background {
    position: absolute;
    background: url("images/cabinet.webp") no-repeat center;
    background-size: auto 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: min(100vw, 100vh);
    height: 100vh;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-53%) translateY(-74.2%);
    width: auto;
    height: 35%;
}