body {
    margin: 0px;
}

footer {
    display: flex;
    font-size: smaller;
    background-color: black;
    text-align: center;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer div {
    margin-top: 0.6%;
    margin-bottom: 0.5%;
    margin-left: 2%;
    margin-right: 2%;
}



.title {
    font-family: monospace;
    text-align: center;
    font-size: xx-large;
    margin-top: 3%;
    margin-bottom: 1%;
}

.flex {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-flow: row wrap;
    margin: 5% 2% 2% 2%;
}

.slide {
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 2%;
    border-radius: 3vh;
    transition-property: transform box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

/* phone */
@media (max-aspect-ratio: 1/1) {
    .slide {
        min-width: 80vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }    
}

.slide:hover {
    transform: translateY(-5%);
    box-shadow: 0.5vw 0.5vh min(0.5vw, 0.5vh) black;
}

.slide-title{
    text-align: center;
}

.slide-img {
    display: block;
    margin: 0px auto 0px auto;
}

.slide-text {
    text-align: center;
    margin: 10% 5% 5% 5%;
}

.slide-list {
    text-align: left;
    margin-top: -2%;
    margin-bottom: 5%;
}

.github-profile {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* phone */
@media (max-aspect-ratio: 1/1) {
    .github-profile img {
        width: 5vh;
    }    
}

/* laptop */
@media (min-aspect-ratio: 1/1) {
    .github-profile img {
        width: 4vw;
    }    
}

#zx-img {
    width: 40%;
}

#pac-img {
    width: 30%;
    margin-bottom: -5%;
}

#othello-img {
    width: 50%;
    margin-top: 6%;
    margin-bottom: 4%;
}

#invaders-img {
    width: 30%;
    margin-top: -1%;
    margin-bottom: -6%;
}

#gameboy-img {
    width: 57%;
    margin-top: 2%;
    margin-bottom: -3%;
}

#gba-img {
    width: 25%;
    margin-bottom: -6%;
}

.inner-flex {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 3%;
}

.inner-flex div {
    margin-left: 10%;
    margin-right: 10%;
}

/* phone */
@media (max-aspect-ratio: 1/1) {
    .slide-icon {
        width: 5vh;
    }    
}

/* laptop */
@media (min-aspect-ratio: 1/1) {
    .slide-icon {
        width: 4vw;
    }    
}

.background {
    position: fixed;
    z-index: -1;
    top: 0%;
    left: 0%;
}

.hidden-list {
    list-style-type: none;
}

details {
    cursor: pointer;
}

summary {
    margin-left: -14px;
}

/* scrollbar style */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #BBB;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}