* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid black;
}

.button {
    margin: 1.5vh;
    margin-left: 1vh;
    margin-right: 1vh;
    width: 5vh;
    transition: 0.2s;
    height: auto;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#crt {
    z-index: -1;
    position: absolute;

    top: 50%;
    left: 50%;

    background-image: url("img/television.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translateX(-50%) translateY(-50%);
    width: min(90vw, 75vh);
    height: min(90vw, 75vh);
}

#scanline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-61%) translateY(-29.7%);
    width: 69%;
    height: 59%;
    opacity: 10%;
    background: repeating-linear-gradient(black 0px,black 1.5px,white 1.5px, white 3px);
}

canvas {
    z-index: -1;
    border-radius: min(1vw, 1vh);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-61%) translateY(-29.7%);
    width: 69%;
    height: 59%;
    image-rendering: pixelated;
}