* {
    margin: 0px;
    padding: 0px;
}

#cabinet {
    z-index: -1;
    position: absolute;
    background: url("images/arcade.png") no-repeat center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: min(95vw, 95vh);
    height: min(95vw, 95vh);
}

#background {
    position: absolute;
    background-color: black;
    border-radius: min(1vw, 1vh);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-58.5%);
    width: min(40vw, 40vh);
    height: min(37vw, 37vh);
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-58%);
    width: auto;
    height: 38.5%;
    image-rendering: pixelated;
}

#coin {
    position: absolute;
    top: 73.5%;
    left: 62.4%;
    width: min(7vw, 7vh);
    height: min(5vw, 5vh);
    touch-action: none;
}

#start {
    position: absolute;
    top: 73.5%;
    left: 52.5%;
    width: min(7vw, 7vh);
    height: min(5vw, 5vh);
    touch-action: none;
}

#joystick {
    position: absolute;
    top: 83%;
    left: 35%;
    transform: translateX(-50%) translateY(-50%);
    width: min(32vw, 32vh);
    height: min(32vw, 32vh);
    touch-action: none;
}