* {
    margin: 0px;
    padding: 0px;
}

#background {
    position: absolute;
    background: url("images/cabinet.png") no-repeat center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: min(95vw, 95vh);
    height: min(95vw, 95vh);
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-53%) translateY(-72.8%) perspective(min(100vw, 100vh)) rotateX(-5deg);
    width: auto;
    height: 35.5%;
    image-rendering: pixelated;
}

#coin {
    position: absolute;
    top: 70%;
    left: 63.5%;
    width: min(7vw, 7vh);
    height: min(5vw, 5vh);
    touch-action: none;
}

#start {
    position: absolute;
    top: 68.5%;
    left: 28%;
    width: min(7.6vw, 7.6vh);
    height: min(7.2vw, 7.2vh);
    touch-action: none;
}

#joystick {
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: min(25vw, 25vh);
    height: min(40vw, 40vh);
    touch-action: none;
}